/*--------------------
Menu Anexos
--------------------*/

.menu-item,
.menu-open-button {
	background: -webkit-linear-gradient(330deg, #0a55bf, #0d6eff);
	background: linear-gradient(120deg, #0a55bf, #0d6eff);
	border-radius: 100%;
	width: 40px;
	height: 40px;
	top: -28px;
	position: absolute;
	color: white;
	text-align: center;
	line-height: 2.5em;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform ease-out 200ms;
	transition: -webkit-transform ease-out 200ms;
	transition: transform ease-out 200ms;
	transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
	display: none;
}

.menu {
	margin-right: 50px;
	position: relative;
	float: right;
	box-sizing: border-box;
}

.menu-item:hover {
	background: -webkit-linear-gradient(315deg, #F7F7F7, #d9d9d9);
	background: linear-gradient(135deg, #F7F7F7, #d9d9d9);
	color: #cc540a;
}

.menu-item:nth-child(3) {
	-webkit-transition-duration: 180ms;
	transition-duration: 180ms;
}

.menu-item:nth-child(4) {
	-webkit-transition-duration: 180ms;
	transition-duration: 180ms;
}

.menu-item:nth-child(5) {
	-webkit-transition-duration: 180ms;
	transition-duration: 180ms;
}

.menu-item:nth-child(6) {
	-webkit-transition-duration: 180ms;
	transition-duration: 180ms;
}

.menu-open-button {
	z-index: 999;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	-webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	cursor: pointer;
}

.menu-open-button:hover {
	-webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
	transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	-webkit-transform: scale(0.9, 0.9) translate3d(0, 0, 0) rotate(45deg);
	transform: scale(0.9, 0.9) translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked ~ .menu-item {
	-webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
	-webkit-transition-duration: 190ms;
	transition-duration: 190ms;
	-webkit-transform: translate3d(0px, 45px, 0px);
	transform: translate3d(0px, 45px, 0px);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
	-webkit-transition-duration: 290ms;
	transition-duration: 290ms;
	-webkit-transform: translate3d(0px, 90px, 0px);
	transform: translate3d(0px, 90px, 0px);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
	-webkit-transition-duration: 390ms;
	transition-duration: 390ms;
	-webkit-transform: translate3d(0px, 135px, 0);
	transform: translate3d(0px, 135px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
	-webkit-transition-duration: 490ms;
	transition-duration: 490ms;
	-webkit-transform: translate3d(0px, 180px, 0);
	transform: translate3d(0px, 180px, 0);
}

/*--------------------
Body
--------------------*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	background: -webkit-linear-gradient(315deg, #F7F7F7, #d9d9d9);
	background: linear-gradient(135deg, #F7F7F7, #d9d9d9);
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	overflow: hidden;
}

.bg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: url("../images/backg.jpg") no-repeat 0 0;
	-webkit-filter: blur(30px);
	filter: blur(30px);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}


/*--------------------
Chat
--------------------*/

.chat {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90vh;
	max-height: 500px;
	z-index: 2;
	overflow: hidden;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
	background: rgba(255, 255, 255, 0.6);
	border-radius: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-ms-flex-direction: column;
	flex-direction: column;
}


/*--------------------
Titulos
--------------------*/

.chat-title {
	-ms-flex: 0 1 45px;
	flex: 0 1 45px;
	position: relative;
	z-index: 2;
	background: rgba(0, 0, 0, 0.2);
	/*background: rgba(255, 255, 255, 0.5);*/
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	padding: 10px 10px 30px 80px;
}

.chat-title h1,
.chat-title h2 {
	font-weight: normal;
	font-size: 16px;
	margin: 0;
	color: rgba(255, 255, 255, 0.9);
	/*color: rgba(0, 0, 0, 1);*/
	padding: 0;
	letter-spacing: 1px;
}

.chat-title h2 {
	color: rgba(255, 255, 255, 0.8);
	/*color: rgba(0, 0, 0, 0.5);*/
	font-size: 10px;
}


/*Estilo do avatar no titulo*/

.chat-title .avatar {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 10px;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 2px solid rgba(0, 60, 100, 0.9);
}

.chat-title .avatar img {
	width: 100%;
	height: auto;
}


/*--------------------
Menssagens
--------------------*/

.messages {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	color: rgba(255, 255, 255, 0.9);
	overflow: hidden;
	position: relative;
	width: 100%;
}

.messages .messages-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 101%;
	width: 100%;
}

.messages .message {
	clear: both;
	float: left;
	padding: 8px 10px 8px;
	border-radius: 10px 10px 10px 0;
	background: -webkit-linear-gradient(330deg, #0a55bf, #0d6eff);
	background: linear-gradient(120deg, #0a55bf, #0d6eff);
	margin: 10px 0;
	font-size: 16px;
	line-height: 1.5;
	margin-left: 35px;
	position: relative;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.messages .message .timestamp {
	position: absolute;
	bottom: -15px;
	font-size: 10px;
	color: rgba(0, 0, 0, 0.8);
}

.messages .message::before {
	content: '';
	position: absolute;
	bottom: -6px;
	border-top: 6px solid #0a55bf;
	left: 0;
	border-right: 7px solid transparent;
}


/*Estilo do avatar na Msg*/

.messages .message .avatar {
	position: absolute;
	z-index: 1;
	bottom: -15px;
	left: -35px;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 2px solid rgba(0, 60, 100, 0.9);
}

.messages .message .avatar img {
	width: 100%;
	height: auto;
}


/*Estilo da Msg enviada*/

.messages .message.message-personal {
	float: right;
	color: #fff;
	text-align: right;
	background: -webkit-linear-gradient(330deg, #2448b5, #001f7d);
	background: linear-gradient(120deg, #2448b5, #001f7d);
	border-radius: 10px 10px 0 10px;
}

.messages .message.message-personal::before {
	left: auto;
	right: 0;
	border-right: none;
	border-left: 5px solid transparent;
	border-top: 4px solid #001f7d;
	bottom: -4px;
}

.messages .message:last-child {
	margin-bottom: 30px;
}


/*Efeito de "Bounce" quando uma nova msg é enviada*/

.messages .message.new {
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-animation: bounce 500ms linear both;
	animation: bounce 500ms linear both;
}

.messages .message.loading::before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.9);
	z-index: 2;
	margin-top: 5px;
	-webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
	animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
	border: none;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}

.messages .message.loading span {
	display: block;
	font-size: 0;
	width: 20px;
	height: 10px;
	position: relative;
}

.messages .message.loading span::before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.9);
	z-index: 2;
	margin-top: 5px;
	-webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
	animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
	margin-left: -10px;
}

.messages .message.loading span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.9);
	z-index: 2;
	margin-top: 5px;
	-webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
	animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
	margin-left: 10px;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}


/*--------------------
Caixa da Menssagem
--------------------*/

.message-box {
	-ms-flex: 0 1 40px;
	flex: 0 1 40px;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	padding: 14px;
	position: relative;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: rgba(255, 255, 255, 0.9);
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: rgba(255, 255, 255, 0.9);
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgba(255, 255, 255, 0.9);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.9);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: rgba(255, 255, 255, 0.9);
}

.message-box .message-input {
	background: none;
	border: none;
	outline: none !important;
	resize: none;
	color: rgba(255, 255, 255, 0.9);
	font-size: 16px;
	height: 22px;
	margin: 0;
	width: 80%;
}

.message-box textarea:focus:-webkit-placeholder {
	color: transparent;
}


/*--------------------
Botão Enviar
--------------------*/

.message-box .message-submit {
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px;
	color: #fff;
	border: none;
	background: #0a55bf;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1;
	padding: 6px 10px;
	border-radius: 15px;
	outline: none !important;
	-webkit-transition: background .5 ease;
	transition: background .5s ease;
}

.message-box .message-submit:hover {
	background: #0d6eff;
}


/*--------------------
Srollbar
--------------------*/

.mCSB_scrollTools {
	margin: 1px -3px 1px 0;
	opacity: 0;
}

.mCSB_inside > .mCSB_container {
	margin-right: 0px;
	padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgba(0, 0, 0, 0.5) !important;
}


/*--------------------
Animação das Bolinhas
--------------------*/

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	4.7% {
		-webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	9.41% {
		-webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	14.11% {
		-webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	18.72% {
		-webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	24.32% {
		-webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.93% {
		-webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	35.54% {
		-webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	41.04% {
		-webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	52.15% {
		-webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	63.26% {
		-webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	85.49% {
		-webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	100% {
		-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	4.7% {
		-webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	9.41% {
		-webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	14.11% {
		-webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	18.72% {
		-webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	24.32% {
		-webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.93% {
		-webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	35.54% {
		-webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	41.04% {
		-webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	52.15% {
		-webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	63.26% {
		-webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	85.49% {
		-webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	100% {
		-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}

@-webkit-keyframes ball {
	from {
		-webkit-transform: translateY(0) scaleY(0.8);
		transform: translateY(0) scaleY(0.8);
	}
	to {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@keyframes ball {
	from {
		-webkit-transform: translateY(0) scaleY(0.8);
		transform: translateY(0) scaleY(0.8);
	}
	to {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}